<plattform-navigation></plattform-navigation>

<div class="col-md-9">
  <h3>Ausgef&uuml;llte Formulare</h3>
  <loader [isLoading]="areFormsLoading"></loader>
  <table class="table" *ngIf="!areFormsLoading">
    <tr>
      <th>Datum</th>
      <th>Formular</th>
      <th>Anlage</th>
      <th>Ort</th>
      <th>Verantwortlich</th>
      <th></th>
    </tr>
    <tr *ngFor="let form of forms">
      <td>{{form.date}}</td>
      <td>{{form.short}} - {{form.name}}</td>
      <td>{{form.site}}</td>
      <td>{{form.location}}</td>
      <td>{{form.person}}</td>
      <td><a [routerLink]="['boniturblatt', form.$key]"><span class="glyphicon glyphicon-pencil"></span></a></td>
    </tr>
  </table>
</div>

<div class="col-md-3">
  <h3>Neues Formular starten</h3>
  <loader [isLoading]="areDefinitionsLoading"></loader>
  <a  *ngFor="let definition of formDefinitions | async" [routerLink]="['boniturblatt', 'neu', definition.$key]">
    <div class="tile">
      {{definition.short}} - {{definition.name}}
    </div>
  </a>
  <!--<a (click)="newForm(definition.$key)">{{definition.short}} - {{definition.name}}</a>-->
</div>
