<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card" *ngIf="!isFormLoading">
          <div class="header">
            <h3 class="title">Module</h3>
          </div> <!-- .header -->
          <div class="content">
            <button class="btn btn-default btn-fill btn-lg" [routerLink]="['//bonitur']" style="width:100%;">Bonitur</button>
          </div> <!-- .content -->
        </div> <!-- .card -->
      </div> <!-- .col-md-6 -->

      <div class="col-md-6">
        <div class="card" *ngIf="!isFormLoading">
          <div class="header">
            <h3 class="title">Nachrichten</h3>
          </div> <!-- .header -->
          <div class="content">
          </div> <!-- .content -->
        </div> <!-- .card -->
      </div> <!-- .col-md-6 -->

    </div> <!-- .row -->


  </div> <!-- .container-fluid -->
</div> <!-- .main-content -->